In [10]:
import pandas as pd
import numpy as np

file_data = pd.read_csv('./dataset/file_data.csv')
file_data['가격'] = [3000,2500,2000,3500,3000]
file_data

   차림표    가격
0   김밥  3000
1   라면  2500
2   어묵  2000
3   튀김  3500
4  떡볶이  3000

In [11]:
df1 = file_data.copy()
print(df1,type(df1))
df2 = pd.DataFrame({'차림표':['비빔밥','돈까스','닭강정','수육','제육덮밥'],
                   '가격':[6000,8000,6000,9000,9000]})
df2

   차림표    가격
0   김밥  3000
1   라면  2500
2   어묵  2000
3   튀김  3500
4  떡볶이  3000 <class 'pandas.core.frame.DataFrame'>

    차림표    가격
0   비빔밥  6000
1   돈까스  8000
2   닭강정  6000
3    수육  9000
4  제육덮밥  9000

In [12]:
# DataFrame 병합 -세로방향
dfc1 = pd.concat([df1,df2])
dfc1

    차림표    가격
0    김밥  3000
1    라면  2500
2    어묵  2000
3    튀김  3500
4   떡볶이  3000
0   비빔밥  6000
1   돈까스  8000
2   닭강정  6000
3    수육  9000
4  제육덮밥  9000

In [13]:
dfc2 = pd.concat([df1,df2],axis = 1)
dfc2

   차림표    가격   차림표    가격
0   김밥  3000   비빔밥  6000
1   라면  2500   돈까스  8000
2   어묵  2000   닭강정  6000
3   튀김  3500    수육  9000
4  떡볶이  3000  제육덮밥  9000

In [15]:
columns = ['메뉴1','가격1','메뉴2','가격2']
dfc2.columns =columns
dfc2

   메뉴1   가격1   메뉴2   가격2
0   김밥  3000   비빔밥  6000
1   라면  2500   돈까스  8000
2   어묵  2000   닭강정  6000
3   튀김  3500    수육  9000
4  떡볶이  3000  제육덮밥  9000

In [16]:
sr1 = dfc2['메뉴1']
sr2 = dfc2['가격2']
print(sr1,'\n')
print(sr2,'\n')

0     김밥
1     라면
2     어묵
3     튀김
4    떡볶이
Name: 메뉴1, dtype: object

0    6000
1    8000
2    6000
3    9000
4    9000
Name: 가격2, dtype: int64

In [17]:
# 시리즈 > 데이터프레임
df = pd.concat([sr1,sr2],axis = 1)
df

   메뉴1   가격2
0   김밥  6000
1   라면  8000
2   어묵  6000
3   튀김  9000
4  떡볶이  9000

In [6]:
#삭제
dfc3 = dfc2.copy()

dfc3.drop('가격1',axis = 1 , inplace = True) #원본에 반영
dfc3

KeyError: "['가격1'] not found in axis"

In [46]:
dfc4 = dfc3.copy()
dfc4.drop(0,axis = 0,inplace = True)
dfc4

   메뉴1   메뉴2   가격2
1   라면   돈까스  8000
2   어묵   닭강정  6000
3   튀김    수육  9000
4  떡볶이  제육덮밥  9000

In [18]:
# 인데싱을 통해 특정 컬럼, 특정 행 , 특정 값을 추출
dfc3 = dfc2.copy()
#컬럼
print(dfc3['메뉴1'])
#행
print(dfc3.loc[0])
# 값
print(dfc3.iloc[1,1])

0     김밥
1     라면
2     어묵
3     튀김
4    떡볶이
Name: 메뉴1, dtype: object
메뉴1      김밥
가격1    3000
메뉴2     비빔밥
가격2    6000
Name: 0, dtype: object
2500

In [22]:
#조건에 맞는 데이터 추출 -불린 인덱싱
#dfc['가격2']>7000

dfc3.loc[dfc3['가격1']>3000,['메뉴1']]

  메뉴1
3  튀김

In [82]:
dfc.loc[5] = ['닭발',6000,'김말이',2000]
dfc

   메뉴1   가격1   메뉴2   가격2
0   김밥  3000   비빔밥  6000
1   라면  2500   돈까스  8000
2   어묵  2000   닭강정  6000
3   튀김  3500    수육  9000
4  떡볶이  3000  제육덮밥  9000
5   닭발  6000   김말이  2000

In [84]:
# 열 추가
dfc['메뉴3'] = ['콜라','사이다','환타','포도주','위스키','소주']
dfc

   메뉴1   가격1   메뉴2   가격2  메뉴3
0   김밥  3000   비빔밥  6000   콜라
1   라면  2500   돈까스  8000  사이다
2   어묵  2000   닭강정  6000   환타
3   튀김  3500    수육  9000  포도주
4  떡볶이  3000  제육덮밥  9000  위스키
5   닭발  6000   김말이  2000   소주

In [89]:
newdf = dfc1.reset_index()
newdf.drop('index',axis = 1,inplace = True)
newdf

    차림표    가격
0    김밥  3000
1    라면  2500
2    어묵  2000
3    튀김  3500
4   떡볶이  3000
5   비빔밥  6000
6   돈까스  8000
7   닭강정  6000
8    수육  9000
9  제육덮밥  9000

In [98]:
new_index = np.arange(0,10)
newdf1 = newdf.reindex(new_index)
newdf1.index = np.arange(1,11)
newdf1

     차림표    가격
1     김밥  3000
2     라면  2500
3     어묵  2000
4     튀김  3500
5    떡볶이  3000
6    비빔밥  6000
7    돈까스  8000
8    닭강정  6000
9     수육  9000
10  제육덮밥  9000

In [99]:
#내림차순 정렬
newdf2 = newdf1.sort_index(ascending = False)
newdf2

     차림표    가격
10  제육덮밥  9000
9     수육  9000
8    닭강정  6000
7    돈까스  8000
6    비빔밥  6000
5    떡볶이  3000
4     튀김  3500
3     어묵  2000
2     라면  2500
1     김밥  3000

In [100]:
newdf3 = newdf2.sort_index(ascending = True)
newdf3

     차림표    가격
1     김밥  3000
2     라면  2500
3     어묵  2000
4     튀김  3500
5    떡볶이  3000
6    비빔밥  6000
7    돈까스  8000
8    닭강정  6000
9     수육  9000
10  제육덮밥  9000

In [103]:
newdf4 = newdf2.sort_values(by=['가격'],ascending = False)
newdf4

     차림표    가격
10  제육덮밥  9000
9     수육  9000
7    돈까스  8000
8    닭강정  6000
6    비빔밥  6000
4     튀김  3500
5    떡볶이  3000
1     김밥  3000
2     라면  2500
3     어묵  2000

In [47]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from seaborn) (1.3.4)
Requirement already satisfied: scipy>=1.0 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: numpy>=1.15 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from seaborn) (1.21.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from seaborn) (3.5.0)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from matplotlib>=2.2->seaborn) (4.25.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)

In [25]:
import pandas as pd
import numpy as np

data = np.arange(20).reshape(4,5)
df= pd.DataFrame(data,columns = ['a','b','c','d','e'])
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [33]:
# 삭제
df1 = df.copy()
df1.drop(df1.index[[0,3]])

    a   b   c   d   e
1   5   6   7   8   9
2  10  11  12  13  14

In [37]:
# 특정 조건에 맞는 인덱스 구하기
df1 = df.copy()
idx = df1[df1.a >10].index
df1.drop(idx)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [47]:
data = np.random.randn(10000).reshape(100,100)
df = pd.DataFrame(data,columns = np.arange(1,101))
df

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,0.509004,-0.977443,-0.125640,-0.539894,0.102773,-0.360281,-1.237271,0.172753,0.242151,0.773251,...,-1.310614,0.660750,-0.345924,-0.344640,0.699059,-0.080448,-1.024719,0.968966,-0.158800,0.705625
1,-0.056202,0.317329,0.371304,-0.114530,-0.406239,-0.288081,-0.693251,-1.111562,-0.480411,-0.474740,...,-0.566670,-0.711874,0.333701,0.903837,0.527201,0.595205,-1.594525,0.129346,-0.915509,1.122264
2,0.733869,-1.088246,-1.144065,0.763498,0.845279,-1.543460,1.074564,1.433736,0.102424,0.279877,...,-1.494106,-0.772312,1.104940,-1.096037,0.914037,-0.637771,0.008063,-0.677559,-1.255891,-0.317311
3,0.715636,-0.176562,0.472718,0.623022,1.401526,-1.367446,2.542793,-1.286190,0.722507,-0.318765,...,-0.312008,-0.388183,0.679813,0.225069,2.203206,0.720669,0.589635,0.928025,-1.423072,0.189193
4,-0.775835,0.884489,-0.209675,-0.608325,-0.707531,0.594251,0.116529,0.006284,0.358641,-0.462904,...,-0.543262,0.448957,-0.235982,-1.090818,1.382868,-0.976570,-1.172424,0.860428,1.573425,-0.325612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-0.510552,-0.768590,1.031988,-0.080785,0.685695,-0.271342,-0.076870,0.420805,2.067665,1.046141,...,-2.187353,-0.231321,-0.372617,0.159039,0.006269,0.418785,-1.107599,-0.346000,-0.589008,1.049987
96,1.764197,-1.102945,-0.821011,0.382891,-1.127532,0.489544,0.146791,0.241405,-0.791884,-1.405011,...,1.121835,-0.300100,-0.609372,0.485843,-0.612609,0.378546,-0.701364,-1.357392,-0.309248,-0.964047
97,2.163981,1.698691,0.677830,-0.487435,0.030384,0.349285,2.392093,0.697367,0.106762,-1.562195,...,0.115899,-2.323939,-0.983467,-1.221560,-0.775615,0.143155,0.035255,1.810604,0.148797,0.987442
98,1.172274,1.887090,0.749686,1.144494,-1.646765,0.677016,-0.533641,-1.058199,-0.131022,1.153816,...,-0.980709,0.886916,0.587978,0.255416,-1.308716,-1.045332,0.537156,-2.058992,0.841218,2.530045
99,-0.485639,0.342050,1.166824,2.094762,0.346000,1.366584,0.360856,0.000710,-1.601584,-0.742693,...,-2.269917,0.331225,-0.449899,2.000218,-1.495809,1.076298,-1.507277,-1.051201,-0.844420,-1.940273

In [55]:
li = []
for i in range(100):
    li.append('c'+str(i+1))
print(li)

data = np.random.randn(10000).reshape(100,100)
df = pd.DataFrame(data,columns = li)
df

['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'c18', 'c19', 'c20', 'c21', 'c22', 'c23', 'c24', 'c25', 'c26', 'c27', 'c28', 'c29', 'c30', 'c31', 'c32', 'c33', 'c34', 'c35', 'c36', 'c37', 'c38', 'c39', 'c40', 'c41', 'c42', 'c43', 'c44', 'c45', 'c46', 'c47', 'c48', 'c49', 'c50', 'c51', 'c52', 'c53', 'c54', 'c55', 'c56', 'c57', 'c58', 'c59', 'c60', 'c61', 'c62', 'c63', 'c64', 'c65', 'c66', 'c67', 'c68', 'c69', 'c70', 'c71', 'c72', 'c73', 'c74', 'c75', 'c76', 'c77', 'c78', 'c79', 'c80', 'c81', 'c82', 'c83', 'c84', 'c85', 'c86', 'c87', 'c88', 'c89', 'c90', 'c91', 'c92', 'c93', 'c94', 'c95', 'c96', 'c97', 'c98', 'c99', 'c100']

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,...,c91,c92,c93,c94,c95,c96,c97,c98,c99,c100
0,-1.764726,0.017279,0.115350,-1.229910,-0.967781,0.403952,-0.813879,-0.936379,-1.653802,0.801432,...,0.870973,0.127606,-1.865832,0.306609,0.968680,1.154666,0.721020,-0.976854,0.642076,-0.984448
1,1.909204,-0.113840,-0.992589,1.033349,1.946147,0.377447,-0.886597,0.607885,0.760193,-1.384845,...,1.768815,0.294929,0.505487,-0.592429,1.567944,-0.394207,-0.375997,-1.542775,2.148628,-1.152028
2,-0.140240,0.746734,1.731858,-0.557945,0.872939,0.374202,1.879156,-0.373662,-1.227991,-0.358392,...,-3.067645,1.070223,0.008977,0.188349,0.130536,0.646801,1.197511,0.215772,-0.981907,-1.246166
3,1.379126,-1.903783,0.230456,-0.977792,-0.810154,0.237992,0.575883,-1.124603,-1.191288,-1.478949,...,0.960111,-1.273532,0.594984,1.628038,-1.292404,-0.952708,-1.036265,-0.394776,0.266543,3.628626
4,-1.385617,-0.624564,1.115053,0.442455,1.788992,-1.094590,0.734659,0.656661,-0.466363,-2.429149,...,0.772384,-1.945136,-1.020949,0.555934,0.153662,-0.696964,-0.233627,-1.819771,-0.106250,-0.033270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.857393,-0.012671,-0.705194,1.038822,-1.027836,-1.032191,-0.253666,0.678153,-0.074960,-0.453092,...,0.187136,-0.676607,0.000859,-1.146438,1.358459,-0.752299,-0.941453,-1.664329,0.123087,-0.388524
96,0.022828,1.204538,-0.398058,-0.367365,-0.582635,-0.792171,0.208574,0.228807,-0.753957,1.603301,...,-1.076164,0.061773,0.968293,0.746338,0.248447,0.171509,0.410774,0.792632,-1.485616,1.081789
97,-0.023879,2.144937,0.120217,1.988715,-0.324694,-1.222743,-1.010133,-1.547908,-0.254458,0.336808,...,-0.059009,-0.114620,0.229650,1.588164,0.433200,-0.287664,1.041596,0.338609,-1.494704,-0.894096
98,-0.764587,-0.138957,0.093487,1.213357,0.952756,0.409901,-0.011226,0.159525,2.384945,-1.462165,...,-0.445242,-1.006701,1.858948,-0.832619,-0.939898,0.398364,-1.261695,1.171728,-0.477047,-0.073535
99,0.134706,0.564959,1.505499,0.712468,-0.548644,-0.421759,-1.483409,-0.231726,0.459825,-0.554685,...,0.619487,-0.568402,-0.237319,0.361683,0.253037,0.730317,0.116029,-0.405609,-0.348564,0.170455

In [59]:
df1 = df.copy()
df1['c2'] = df1.c2 *100
df.iloc[1] = df.iloc[1]*100
idx = df1[df1.c2>10].index
print(idx)

Int64Index([ 2,  5,  8, 13, 16, 17, 19, 23, 25, 26, 28, 29, 30, 36, 40, 42, 46,
            48, 49, 57, 58, 65, 68, 70, 71, 72, 75, 76, 78, 81, 84, 85, 86, 87,
            88, 93, 94, 96, 97, 99],
           dtype='int64')

In [60]:
df1.drop(idx)

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,...,c91,c92,c93,c94,c95,c96,c97,c98,c99,c100
0,-1.764726,1.727919,0.115350,-1.229910,-0.967781,0.403952,-0.813879,-0.936379,-1.653802,0.801432,...,0.870973,0.127606,-1.865832,0.306609,0.968680,1.154666,0.721020,-0.976854,0.642076,-0.984448
1,1.909204,-11.384024,-0.992589,1.033349,1.946147,0.377447,-0.886597,0.607885,0.760193,-1.384845,...,1.768815,0.294929,0.505487,-0.592429,1.567944,-0.394207,-0.375997,-1.542775,2.148628,-1.152028
3,1.379126,-190.378304,0.230456,-0.977792,-0.810154,0.237992,0.575883,-1.124603,-1.191288,-1.478949,...,0.960111,-1.273532,0.594984,1.628038,-1.292404,-0.952708,-1.036265,-0.394776,0.266543,3.628626
4,-1.385617,-62.456448,1.115053,0.442455,1.788992,-1.094590,0.734659,0.656661,-0.466363,-2.429149,...,0.772384,-1.945136,-1.020949,0.555934,0.153662,-0.696964,-0.233627,-1.819771,-0.106250,-0.033270
6,0.843034,-154.843142,-0.257970,0.119811,-0.650635,-0.003952,-1.099485,-1.974104,-0.359664,-0.714760,...,-0.569102,0.821128,0.466015,0.965526,-0.154000,2.362235,0.474872,0.683782,0.581168,-0.445323
7,-0.356957,-17.598916,0.026781,1.417323,2.419289,0.872005,-1.535362,-0.525565,-1.065411,1.431066,...,0.744319,-0.662745,0.385076,0.927602,0.943472,1.330009,0.201292,-0.581562,-0.818947,-1.259525
9,0.189575,-67.425968,0.086185,0.311819,0.472955,0.535031,1.517843,-0.644053,0.125839,-0.920546,...,1.127292,-0.859480,-0.971592,-0.163964,0.400315,-0.080096,1.120523,-1.313094,-0.164364,0.326749
10,0.301845,9.709549,-0.972727,0.263393,0.363605,0.707747,-1.377480,-1.258826,-2.220500,-1.091758,...,-0.807868,0.663785,0.342454,0.316611,-0.318199,0.112157,0.608396,-0.028657,-2.057687,0.363710
11,0.145956,-31.049010,-1.222380,-0.908281,-0.630924,2.230295,1.142344,1.793612,1.568553,-0.533912,...,-0.221855,-0.266780,-2.263597,1.838650,1.220983,-1.075714,0.370885,-0.885955,-0.344053,0.077447
12,0.488677,-33.775188,-0.477890,0.610448,0.695302,-0.455832,-0.286477,-0.907306,1.020880,1.407745,...,-0.870181,0.017167,-0.181848,0.169404,0.470649,1.472461,-0.032022,-0.983497,-1.438984,-1.319610
14,-1.183556,-28.506794,1.585381,0.784363,-0.267737,-2.096333,-0.932106,-1.487455,0.432853,0.650600,...,-1.123008,-0.690627,-0.027657,1.259881,-1.673893,0.077027,0.617464,-0.801322,0.168645,-0.571185
15,-1.322228,-47.411155,-0.238341,1.423097,-0.672085,-0.333437,1.485767,0.744651,0.186565,3.557620,...,0.454127,0.115022,1.092527,1.328548,-1.123337,-0.850950,0.176728,0.047925,0.080902,-0.887343
18,-1.077878,-38.214766,1.627012,0.079366,0.857699,0.439719,-1.179275,-1.120356,-1.547023,1.428243,...,0.631225,-0.702108,0.440557,-0.542008,-2.024874,0.417380,0.342890,0.368307,1.479923,-0.368092
20,-1.573014,-205.717347,0.087769,-0.305470,-2.040768,0.587590,-0.032625,-0.065811,-0.260051,-0.944773,...,-0.076446,1.357755,-0.488101,-0.453043,-0.068880,-0.108734,-0.396154,-0.592517,0.733005,-1.188833
21,-0.378689,-89.241223,0.635226,0.522883,-0.085976,-0.470424,0.004610,0.172300,1.062138,1.434441,...,-0.284267,0.862820,0.854022,-1.310302,0.490876,-0.746038,0.897316,0.578970,1.205594,-0.700361
22,1.094767,-82.204252,-1.163497,-0.795436,0.032388,-0.682373,-0.212048,-0.557763,1.933327,-0.506005,...,1.024640,1.613343,-1.165270,0.249912,0.188545,-0.698483,-0.454628,-1.155690,0.020996,0.013463
24,-1.042882,-59.298774,0.197854,0.002458,-0.645337,-0.881817,-0.910536,1.631936,0.807030,-1.014737,...,-1.322794,0.083717,0.746952,-0.460577,-0.319496,-1.439260,0.033546,-2.099722,-0.860359,0.896076
27,0.674656,6.980754,-1.516360,0.163797,-1.066294,0.193944,0.201071,1.033457,-0.771226,-0.345432,...,0.364479,-0.103967,0.430127,-0.931672,-0.566205,-0.697418,-0.659818,0.824475,0.566220,1.703344
31,-1.065414,-85.923922,1.349916,0.511978,-0.579161,-1.287623,-0.555269,2.072297,0.539150,0.774959,...,-1.314352,0.070083,-0.366719,1.382451,0.622306,-0.115255,2.329822,-0.618652,0.881507,1.129744
32,-1.314316,-85.193583,-1.126795,0.888339,1.272860,-0.073203,0.708069,0.427400,0.744230,0.902969,...,0.560337,-0.445571,-2.328341,0.013221,2.339763,2.595698,0.063034,0.947708,1.018197,-0.939574
33,0.093916,-13.940343,-1.308123,-0.847934,-0.802528,-0.184655,-0.522897,0.527015,0.219392,1.343280,...,-0.876601,1.280730,-0.071544,0.249570,0.329086,-1.977527,0.643787,-0.220726,1.900264,0.903484
34,-0.867607,-22.302134,-2.053986,-0.589688,0.581108,-0.075741,0.048737,0.365265,-0.706875,2.353484,...,0.503544,0.912615,-0.120524,1.395172,0.103137,0.275103,-2.052125,-0.821847,-1.059977,0.576659
35,1.021093,-30.324173,1.093542,0.455826,2.221444,-0.571928,-1.799391,0.562661,1.473609,1.604457,...,1.768611,0.869574,-1.885122,1.304389,2.196824,-1.696886,0.466815,-1.039215,0.600835,0.312137
37,0.084591,-28.069411,-0.243163,-0.154350,0.615740,0.325834,-0.852050,0.430360,-1.934947,-0.552086,...,0.475405,-1.069024,-0.168138,0.701336,0.877098,-0.632446,0.968386,-0.612379,1.164974,0.948425
38,-0.896484,-64.887496,-0.650212,-0.748753,-0.583001,0.285733,-0.124056,-0.513541,1.876312,-0.010289,...,1.199800,0.317735,0.895771,-1.224506,0.705369,-0.576819,1.372835,2.100173,-0.554122,0.380960
39,-0.187656,-151.187488,-0.141388,0.618237,0.630249,-0.602171,1.758961,-0.018249,-2.825059,-0.131478,...,1.271755,-0.110151,0.407455,-1.010420,0.277145,0.068850,0.159370,-1.081226,0.382092,0.578214
41,-0.857225,-53.418014,1.680227,0.798447,-0.341922,0.048615,-0.940837,-0.623511,-0.277463,0.547292,...,-0.241894,-0.727271,-1.404859,0.135013,0.355766,-0.780669,-0.144076,0.171527,1.383372,1.480785
43,-0.258656,-31.638267,-0.833402,-0.409369,0.201225,0.651080,-0.885791,0.208582,1.007397,-0.280332,...,-0.636122,-0.656864,0.392519,-1.513748,1.132386,-0.447763,-0.297555,2.233401,-1.197545,2.232253
44,-0.739016,-106.170754,-0.827374,0.308340,-0.819906,0.776100,2.261513,-0.273521,2.225919,-1.131102,...,-1.196761,-0.311434,-0.163499,-1.065467,-0.557178,-2.087727,2.270840,-0.695716,0.434574,0.943790
45,-0.016505,-24.622103,0.007548,0.153838,0.012649,-0.389750,-1.184190,-0.015694,0.150358,-0.298467,...,-0.326783,-1.938049,-1.680393,-0.262940,0.022708,-1.439368,0.159884,-1.503577,-0.957764,-0.038907
47,1.602203,-136.011598,1.039023,0.864412,0.104850,-1.323247,0.090609,2.724512,-0.310083,0.412939,...,-0.217160,1.343658,1.804815,-1.910273,0.235119,-0.819682,-1.101857,-0.155983,-0.817067,1.969951
50,1.060566,-186.243608,-0.328814,0.324832,0.699800,0.092006,0.198034,-0.334907,0.516781,0.151426,...,0.644005,-0.221096,0.424926,-0.068706,-1.102126,-0.616405,1.417426,1.670913,0.820072,-1.882652
51,-1.375871,-57.044202,0.217205,1.551014,0.533785,1.274339,1.354929,0.217233,-0.086164,-2.783036,...,-0.306380,-0.231741,-0.263533,0.301276,2.764113,0.591353,-0.951351,-0.656810,1.593628,1.602275
52,-0.318048,-41.136774,0.283665,0.833451,0.011973,0.536737,0.320822,0.171657,-0.115057,-0.849414,...,-1.099601,-0.661216,-1.705065,-1.905378,0.042344,-0.043597,-0.711035,-0.107675,-0.842616,-0.047195
53,-0.417497,-124.453267,0.310214,-0.446947,-0.127451,0.428836,0.204378,0.506133,-1.090882,-0.372362,...,-1.741819,0.534157,0.763099,-0.316818,1.751074,0.669941,-0.233108,-2.289547,-0.862276,-2.519543
54,-0.187343,-76.821454,0.079195,0.316578,1.306958,0.096950,-0.173370,-0.674254,1.131258,0.313249,...,-0.440184,0.504272,1.268794,-0.338112,-0.327710,-1.203205,-0.083357,0.871057,-0.487400,1.686186
55,0.658044,-2.670907,0.626352,-1.176554,0.248824,-0.778374,-1.192223,-1.886502,0.802841,-0.242066,...,-0.535771,1.214915,-0.667737,1.908943,0.960595,0.165810,0.048037,1.515820,0.597798,1.328420
56,-0.330633,-48.445949,0.767503,0.375798,-1.576228,-0.822337,-0.840597,-0.895982,-0.251926,0.366510,...,-0.350779,-0.911045,-0.076996,-0.534443,0.255791,-0.270216,0.003197,0.200783,0.155778,-0.720038
59,-0.074848,6.603065,-0.364245,1.480408,-0.242543,1.379180,0.221391,-0.428432,1.053908,-0.082686,...,0.407594,0.218709,-1.294711,-2.189109,0.494351,0.842858,-2.194566,0.910786,-0.858155,0.986282
60,-0.072384,-98.122883,-0.114671,-0.903263,-0.456816,-0.095056,-0.845314,-1.051763,-0.520248,-0.577769,...,1.188492,1.873511,0.565119,0.424318,-0.352645,-1.356329,0.753474,1.027182,0.817794,-0.778172
61,-0.712023,-34.366924,0.090723,1.986787,-0.258847,-0.488158,-0.926239,0.319137,0.615508,-0.070945,...,-1.134853,0.020784,-1.025922,0.797103,-0.409677,-0.121305,-1.578784,0.581935,0.441056,1.549405
62,0.488230,-0.013948,1.702413,-0.228199,-0.437714,-0.768201,1.493700,-0.095316,-0.083168,-0.260688,...,-1.221473,-1.175410,-1.185598,0.307430,-0.697856,-1.686146,-1.427503,1.271387,-1.248861,0.260656
63,-1.800383,-54.302387,-0.310617,1.014780,-1.034621,-1.526193,-1.931440,1.019166,-0.921816,1.305869,...,-0.678794,-0.772311,0.437974,0.034953,0.836914,-0.612287,0.163576,0.875687,-1.841801,-0.818796
64,1.092717,-5.134836,1.719615,-0.468182,-0.733527,2.362695,-0.164369,-0.880357,-1.151042,0.529642,...,-0.442799,-0.172447,1.804505,1.249744,1.822439,1.738784,-1.768230,-1.991328,-0.530375,0.474669
66,0.920554,-146.133859,0.368664,-0.146012,-0.799171,-0.081186,1.338126,1.512179,0.255053,0.557809,...,0.267737,0.483019,2.206103,2.278656,0.842909,0.206827,-0.772934,0.582493,2.750665,0.141522
67,1.527020,5.688004,-0.524191,0.447423,1.143412,-0.987723,1.162357,1.480687,-1.677366,-0.390880,...,2.162234,0.419811,1.477144,1.876552,-0.576230,0.393307,-0.699515,1.089364,-2.324425,0.129308
69,2.360788,-114.665607,0.562860,0.188766,-0.049876,0.123911,0.168105,-1.555615,-2.446671,-1.709924,...,-0.279710,0.939277,1.023068,0.316740,-0.284263,0.469472,0.012524,-1.329521,0.621917,-1.276532
73,0.782077,-18.573937,-1.611349,-1.693311,-1.586113,-0.269244,0.303713,-0.022339,-0.188962,-0.520309,...,0.074353,-1.109457,0.437451,0.624984,0.252435,0.747118,0.050673,-0.992801,1.255011,1.043409
74,-2.502082,-126.779668,0.474217,0.869621,-1.532618,1.004872,-0.140825,-0.672194,-0.402140,-0.488743,...,-0.352949,-0.113956,0.471035,0.044691,0.468093,0.511841,-0.596660,-0.386810,-1.159664,-1.608461
77,-0.661417,-63.687337,1.121143,-1.054469,2.276561,-0.500563,-0.047809,0.465552,0.022970,1.044939,...,1.012490,0.696492,0.938489,0.389943,-1.531352,-1.616347,0.540256,-0.211010,-0.820881,-1.129721
79,-0.407858,-74.258292,-0.063647,-0.716879,0.012471,0.339164,0.331507,-0.435187,1.910171,-0.089256,...,-0.487375,-0.264448,0.096201,-0.166225,1.729252,-0.958283,1.457399,0.158487,0.269428,0.785721
80,-1.161099,-156.068930,1.113705,-0.213165,0.704939,-1.303469,1.456865,0.422198,0.349119,-1.463365,...,-1.132921,0.420710,0.181751,0.359770,0.743343,0.034169,0.421574,-0.139456,0.967245,-0.533856
82,-1.211104,-21.365909,-0.115257,0.811388,-0.532458,1.699053,-0.041351,1.232926,0.263464,-0.256849,...,-0.413452,0.222122,-0.357677,-0.425809,0.347277,1.367615,0.979994,-0.594698,2.617278,-0.549577
83,0.018573,-74.312422,0.688253,0.324355,0.261181,-1.271712,-0.330300,0.235789,0.232514,-0.054881,...,-1.126853,-0.227010,0.058389,0.132464,-0.917561,-0.295565,1.046128,-1.206467,-1.154122,-0.052142
89,0.487386,0.107841,-1.064752,1.250823,0.219712,1.706592,1.154642,-1.276568,-0.259075,-2.119597,...,-0.574894,-0.922513,2.097565,-0.820235,-1.109163,-1.325616,-1.116436,-0.012908,-0.620416,-0.974236
90,-1.215337,-66.696131,-0.433585,-0.129828,-2.216677,-0.972863,-0.731489,1.116491,-0.914408,0.198044,...,0.806792,-0.888814,-2.591886,0.706687,-0.417274,0.968423,0.061964,-0.801013,0.237092,0.138042
91,1.062284,-183.682536,0.492992,0.206091,-0.321552,-0.732985,1.185610,-0.321736,-0.841505,1.268589,...,-0.577665,-0.193206,-0.561125,0.005312,-2.081864,-0.096281,0.220819,1.093869,1.737074,-0.523794
92,1.519350,7.601342,0.321295,-1.893478,2.078706,-0.866122,0.573263,0.266599,-1.611422,-0.702775,...,0.131303,-0.594482,-1.059340,-0.692214,0.191030,-0.461508,-0.316194,-0.029336,0.963604,-1.834933
95,0.857393,-1.267069,-0.705194,1.038822,-1.027836,-1.032191,-0.253666,0.678153,-0.074960,-0.453092,...,0.187136,-0.676607,0.000859,-1.146438,1.358459,-0.752299,-0.941453,-1.664329,0.123087,-0.388524
98,-0.764587,-13.895697,0.093487,1.213357,0.952756,0.409901,-0.011226,0.159525,2.384945,-1.462165,...,-0.445242,-1.006701,1.858948,-0.832619,-0.939898,0.398364,-1.261695,1.171728,-0.477047,-0.073535

In [62]:
df1 = df.copy()
df1['c2'] = df1.c2 *100
df.iloc[1] = df.iloc[1]*100
idx = df1.query('c2 > 10').index
print(idx)

Int64Index([ 2,  5,  8, 13, 16, 17, 19, 23, 25, 26, 28, 29, 30, 36, 40, 42, 46,
            48, 49, 57, 58, 65, 68, 70, 71, 72, 75, 76, 78, 81, 84, 85, 86, 87,
            88, 93, 94, 96, 97, 99],
           dtype='int64')

In [64]:
df1 = df.copy()
df1['c2'] = df1.c2 *100
df.iloc[1] = df.iloc[1]*100
cond1 = df1.c2>10
cond2 = df1.c3 > 0
cond3 = df1.c4 < 0
df2 = df1[cond1 & cond2 & cond3]
print(df2.shape)
df2

(15, 100)

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,...,c91,c92,c93,c94,c95,c96,c97,c98,c99,c100
2,-0.140240,74.673383,1.731858,-0.557945,0.872939,0.374202,1.879156,-0.373662,-1.227991,-0.358392,...,-3.067645,1.070223,0.008977,0.188349,0.130536,0.646801,1.197511,0.215772,-0.981907,-1.246166
16,0.069912,155.630150,1.189983,-0.450958,0.354696,-1.663155,0.874562,0.117908,-1.117370,1.577576,...,-0.243240,0.714574,1.479753,0.374279,-0.802066,2.513721,0.216440,-0.452249,-2.015233,1.859004
17,0.145664,75.696950,0.246397,-0.028383,0.178545,0.921178,0.236304,2.067649,-0.496284,-0.936657,...,0.775782,0.160743,1.535184,0.216164,-0.705496,0.101167,0.315241,-0.299860,0.621941,-1.308427
25,-0.714705,35.490851,1.377608,-1.306275,1.942909,0.503595,1.010886,-0.692007,-0.170176,0.362054,...,0.676101,1.474044,-0.407466,-0.719257,-1.433609,1.764286,-1.220497,0.703968,-1.570262,-1.623473
29,0.148569,19.183087,0.251377,-1.498155,-0.432108,0.470766,-0.489314,1.741318,1.211399,0.545514,...,-0.020679,-0.704223,0.368016,-0.537760,0.144416,-0.286362,-0.451134,-2.343113,0.440104,0.208289
40,-1.244555,10.238369,1.013610,-0.548247,-1.264047,0.894274,-0.618576,-0.164185,-1.020086,-1.982977,...,-0.721721,-0.296631,-0.073889,-0.009552,-2.943848,0.499151,1.606738,0.111559,0.333945,0.433906
46,-0.194645,28.985014,1.316677,-1.202648,-0.045470,1.201206,0.241401,1.138953,0.846164,-0.441318,...,-0.769558,0.514519,-0.131861,1.521243,0.860721,1.381292,0.871258,-0.200159,-0.984534,-0.538939
48,1.005728,61.164601,1.432397,-0.342767,-0.506431,-0.489153,0.016212,0.340609,0.282103,-0.286641,...,-1.003080,1.894884,-0.379241,0.374130,1.068747,-1.920201,0.462454,-1.596613,1.424262,-1.009849
58,-0.469078,14.981961,1.308570,-1.494728,1.409543,-0.763622,1.054527,1.976248,-2.061473,0.342804,...,-0.000802,-0.081613,-0.621156,0.087154,-1.267946,0.540490,-1.899422,-1.441403,0.175196,0.568528
68,-0.956507,13.173007,0.304002,-0.213957,-0.687441,0.624479,-2.360465,0.343599,-0.567015,-0.421684,...,-0.053206,-0.269744,-1.249300,0.958434,-0.020395,0.487587,0.988632,-1.739091,-0.282885,0.088207
75,0.087905,54.568518,0.150154,-0.276507,0.452615,-0.758068,-1.207983,0.090288,-0.243321,0.742792,...,-0.509462,0.923256,0.914004,0.847769,-0.505019,2.106115,0.471487,-1.026473,0.902753,1.338193
81,-0.223531,40.863562,0.104627,-1.015853,-0.321431,0.563833,-0.370126,2.664766,-0.434199,0.289369,...,0.595723,0.190134,0.007811,1.235692,-0.570437,-1.920214,-0.040028,-0.019512,-1.058543,-0.944806
85,0.403252,34.330160,0.466778,-0.118728,-0.129467,-0.279539,-0.642128,-0.625951,-0.209385,-0.901110,...,-0.852031,1.409348,1.035462,-2.446561,-1.426362,-0.416869,0.116315,-0.134904,-1.564648,-0.156250
87,-0.626345,22.578053,0.784802,-0.032585,-0.688736,0.961180,0.258201,-0.121668,0.404332,-0.691395,...,-0.625335,-2.468337,0.339240,1.041565,1.928349,0.031965,0.408023,-1.019013,-0.697192,0.383504
94,-1.338161,106.330105,1.244197,-1.788385,-0.418590,1.737508,0.415995,1.202019,0.172625,-0.126247,...,-0.182710,-0.910912,0.615158,0.285495,1.092804,1.442690,-0.270733,-0.108709,0.627138,1.204690

In [65]:
df3 = df1[cond1|cond2|cond3]
df3.shape

(84, 100)

In [66]:
df1[cond1][['c1','c2']].head()

          c1          c2
2  -0.140240   74.673383
5  -0.118859   32.891542
8  -1.014540  147.715837
13 -0.977008  191.198875
16  0.069912  155.630150

In [67]:
import seaborn as sns
df = sns.load_dataset('titanic')
tdf = df.copy()
tdf.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [70]:
#칼럼 이름 변경
tdf.rename(columns = {'sex':'gender','fare':'ticket'},inplace = True)
tdf.head()

,survived,pclass,gender,age,sibsp,parch,ticket,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [71]:
tdf.gender.value_counts()

male      577
female    314
Name: gender, dtype: int64

In [72]:
tdf.gender.unique()

array(['male', 'female'], dtype=object)

In [73]:
df1 = tdf[['gender']].replace(['female','male'],[1,0])
df1.gender.value_counts()

0    577
1    314
Name: gender, dtype: int64

In [74]:
#칼럼 대문자 변경

tdf.rename(str.upper,axis = 'columns', inplace = True)
tdf.head()

,SURVIVED,PCLASS,GENDER,AGE,SIBSP,PARCH,TICKET,EMBARKED,CLASS,WHO,ADULT_MALE,DECK,EMBARK_TOWN,ALIVE,ALONE
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [75]:
tdf.rename(str.lower,axis = 'columns', inplace = True)
tdf.head()

,survived,pclass,gender,age,sibsp,parch,ticket,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [76]:
#컬럼 순서 변경

columns_customed = ['pclass','gender','age','survived']
tdf[columns_customed].head()

   pclass  gender   age  survived
0       3    male  22.0         0
1       1  female  38.0         1
2       3  female  26.0         1
3       1  female  35.0         1
4       3    male  35.0         0

In [80]:
# NaN으로 변경

df1 = df.copy()
df1['sex'] = df1.sex.replace('male',np.nan)
df1.sex.value_counts()

female    314
Name: sex, dtype: int64

In [82]:
tdf.info()
# category : 범주
# object : 문자열

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   gender       891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   ticket       891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [83]:
tdf.pclass.value_counts()

3    491
1    216
2    184
Name: pclass, dtype: int64

In [85]:
tdf.value_counts('class')

class
Third     491
First     216
Second    184
dtype: int64

In [86]:
tdf.who.value_counts()

man      537
woman    271
child     83
Name: who, dtype: int64

In [87]:
tdf.value_counts('deck')

deck
C    59
B    47
D    33
E    32
A    15
F    13
G     4
dtype: int64

In [95]:
#결측값 대체 : age 평균값으로 대체
tdf = df.copy()
print(tdf.age.isnull().sum(),'\n')
tdf.age.fillna(tdf.age.mean(),inplace=True)
tdf.age.isnull().sum()

177

0

In [94]:
tdf1 = df.copy()
tdf1.age.replace(np.nan,tdf1.age.mean(), inplace = True)
tdf1.age.isnull().sum()

0

In [96]:
# 결측값 삭제
tdf2 = df.copy()
tdf2.dropna(subset = ['age'],inplace = True)
print(len(tdf2),'\n')
tdf2.age.isnull().sum()

714

0