In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
movies = pd.read_csv('./dataset/tmdb_5000_movies.csv')
print(movies.shape)
movies.head()

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [2]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [14]:
movies_df=movies[['id','title','genres', 'popularity', 'vote_average',
       'vote_count', 'keywords', 'overview']]

In [15]:
movies_df.genres

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

In [16]:
# genre 칼럼의 문자열을 분해하여 개별 장르를 파이썬 리스트 객체로 추출

from ast import literal_eval

movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)
movies_df['genres'][:1]

0    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
Name: genres, dtype: object

In [17]:
movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])

movies_df[['genres','keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."

In [19]:
df5 = movies_df[['genres','keywords']]
df5['genres']=df5['genres'].apply(lambda x :(' ').join(x))

- m값은 평점 투표 횟수가 많은 영화에 더 많은 가중 평점을 부여
- m값은 전체 투표 횟수에서 상위 60%에 해당하는 횟수를 기준으로 정함
- 가중평점 : (v/(v+m))*R + (m/(v+m))*C
  - v : 개별 영화에 평점을 투표한 횟수 
  - m : 평점을 부여하기 위한 최소 투표 횟수
  - R : 개별 영화에 대한 평균 평점
  - C : 전체 영화에 대한 평균 평점

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer(min_df=0,ngram_range=(1,2))
genre_mat = count_vect.fit_transform(df5['genres'])
print(genre_mat.shape)

(4803, 276)

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat,genre_mat)
print(genre_sim[:1])

genre_sim_sorted_ind = genre_sim.argsort()[:,::-1]
print(genre_sim_sorted_ind[:1])

[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]
[[   0 3494  813 ... 3038 3037 2401]]

In [27]:
def find_sim_movie(df,sorted_ind, title_name,top_n = 10):
    title_movie = df[df['title']==title_name]
    
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index,:(top_n)]
    
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [30]:
similar_movies = find_sim_movie(movies_df,genre_sim_sorted_ind, 'The Godfather',10)
similar_movies

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

,id,title,genres,popularity,vote_average,vote_count,keywords,overview
2731,240,The Godfather: Part II,"[Drama, Crime]",105.792936,8.3,3338,"[italo-american, cuba, vororte, melancholy, pr...",In the continuing saga of the Corleone crime f...
1243,203,Mean Streets,"[Drama, Crime]",17.002096,7.2,345,"[epilepsy, protection money, secret love, mone...","A small-time hood must choose from among love,..."
3636,36351,Light Sleeper,"[Drama, Crime]",6.063868,5.7,15,"[suicide, drug dealer, redemption, addict, exi...",A drug dealer with upscale clientele is having...
1946,11699,The Bad Lieutenant: Port of Call - New Orleans,"[Drama, Crime]",17.339852,6.0,326,"[police brutality, organized crime, policeman,...","Terrence McDonagh, a New Orleans Police sergea..."
2640,400,Things to Do in Denver When You're Dead,"[Drama, Crime]",6.932221,6.7,85,"[father son relationship, bounty hunter, boat,...",A mafia film in Tarantino style with a star-st...
4065,364083,Mi America,"[Drama, Crime]",0.039007,0.0,0,"[new york state, hate crime]",A hate-crime has been committed in a the small...
1847,769,GoodFellas,"[Drama, Crime]",63.654244,8.2,3128,"[prison, based on novel, florida, 1970s, mass ...","The true story of Henry Hill, a half-Irish, ha..."
4217,9344,Kids,"[Drama, Crime]",13.291991,6.8,279,"[puberty, first time]",A controversial portrayal of teens in New York...
883,640,Catch Me If You Can,"[Drama, Crime]",73.944049,7.7,3795,"[con man, biography, fbi agent, overhead camer...","A true story about Frank Abagnale Jr. who, bef..."
3866,598,City of God,"[Drama, Crime]",44.356711,8.1,1814,"[male nudity, street gang, brazilian, photogra...",Cidade de Deus is a shantytown that started du...

In [39]:
# 새로운 평점기준 반영
m = movies['vote_count'].quantile(0.6)
C = movies['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return (v/(v+m)) *R + (m/(v+m)) *C

movies['weighted_vote'] = movies.apply(weighted_vote_average,axis=1)
movies_df['weighted_vote']=movies['weighted_vote']

In [33]:
movies[['title','vote_average','weighted_vote','vote_count']].sort_values('weighted_vote',ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [34]:
movies.loc[(movies['vote_average'] == 10.0),['title','vote_average','weighted_vote','vote_count']]

                      title  vote_average  weighted_vote  vote_count
3519       Stiff Upper Lips          10.0       6.102699           1
4045  Dancer, Texas Pop. 81          10.0       6.102699           1
4247  Me You and Five Bucks          10.0       6.113170           2
4662         Little Big Top          10.0       6.102699           1

In [37]:
movies.loc[(movies['vote_count'] <5),['title','vote_average','weighted_vote','vote_count']]

                             title  vote_average  weighted_vote  vote_count
463                        Déjà Vu           8.0       6.097311           1
1039                        Inchon           6.5       6.094363           2
1464           Black Water Transit           0.0       6.092172           0
2271                     Ramanujan           5.0       6.083392           3
2272                       Dwegons           0.5       6.077106           1
...                            ...           ...            ...         ...
4791                   Tin Can Man           2.0       6.081147           1
4793                On The Downlow           6.0       6.091676           2
4794  Sanctuary: Quite a Conundrum           0.0       6.092172           0
4795                          Bang           6.0       6.091923           1
4797                        Cavite           7.5       6.099736           2

[245 rows x 4 columns]

In [40]:
def find_sim_movie(df,sorted_ind, title_name,top_n = 10):
    title_movie = df[df['title']==title_name]    
    title_index = title_movie.index.values
    
    similar_indexes = sorted_ind[title_index,:(top_n*2)]
    
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    similar_indexes = similar_indexes[similar_indexes!=title_index]
    
    return df.iloc[similar_indexes].sort_values('weighted_vote',ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df,genre_sim_sorted_ind, 'The Godfather',10)
similar_movies

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866 3112 4041  588 3337
  3378  281 1663 1464 1149 2839]]

,id,title,genres,popularity,vote_average,vote_count,keywords,overview,weighted_vote
2731,240,The Godfather: Part II,"[Drama, Crime]",105.792936,8.3,3338,"[italo-american, cuba, vororte, melancholy, pr...",In the continuing saga of the Corleone crime f...,8.079586
1847,769,GoodFellas,"[Drama, Crime]",63.654244,8.2,3128,"[prison, based on novel, florida, 1970s, mass ...","The true story of Henry Hill, a half-Irish, ha...",7.976937
3866,598,City of God,"[Drama, Crime]",44.356711,8.1,1814,"[male nudity, street gang, brazilian, photogra...",Cidade de Deus is a shantytown that started du...,7.759693
1663,311,Once Upon a Time in America,"[Drama, Crime]",49.336397,8.2,1069,"[life and death, corruption, street gang, rape...",A former Prohibition-era Jewish gangster retur...,7.657811
883,640,Catch Me If You Can,"[Drama, Crime]",73.944049,7.7,3795,"[con man, biography, fbi agent, overhead camer...","A true story about Frank Abagnale Jr. who, bef...",7.557097
281,4982,American Gangster,"[Drama, Crime]",42.361215,7.4,1502,"[underdog, black people, drug traffic, drug sm...",Following the death of his employer and mentor...,7.141396
4041,11798,This Is England,"[Drama, Crime]",8.395624,7.4,363,"[holiday, skinhead, england, vandalism, indepe...",A story about a troubled boy growing up in Eng...,6.739664
1149,168672,American Hustle,"[Drama, Crime]",49.664128,6.8,2807,"[con artist, scam, mobster, fbi agent]","A con man, Irving Rosenfeld, along with his se...",6.717525
1243,203,Mean Streets,"[Drama, Crime]",17.002096,7.2,345,"[epilepsy, protection money, secret love, mone...","A small-time hood must choose from among love,...",6.626569
2839,10220,Rounders,"[Drama, Crime]",18.422008,6.9,439,"[gambling, law, compulsive gambling, roulette,...",A young man is a reformed gambler who must ret...,6.530427