In [1]:
!pip install cx_oracle

Collecting cx_oracle
  Downloading cx_Oracle-8.3.0-cp38-cp38-win_amd64.whl (219 kB)
Installing collected packages: cx-oracle
Successfully installed cx-oracle-8.3.0

In [3]:
import cx_Oracle

dsn = cx_Oracle.makedsn('localhost',1521,'xe')
dsn

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))'

In [4]:
db = cx_Oracle.connect('C##CAKD5','CAKD5',dsn)
db

In [6]:
import pandas as pd
cursor = db.cursor()
cursor.execute('select * from book')
x = cursor.fetchall()
columns = ['BOOKID','BOOKNAME','PUBLISHER','PRICE']
df = pd.DataFrame(x, columns = columns)
df.head()

   BOOKID BOOKNAME PUBLISHER  PRICE
0       1   축구의 역사      굿스포츠   7000
1       2  축구아는 여자       나무수  13000
2       3   축구의 이해     대한미디어  22000
3       4   골프 바이블     대한미디어  35000
4       5    피겨 교본      굿스포츠   8000