# 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 - 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성
## 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다
## 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷
## 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [1]:
!python -V

Python 3.8.12

In [9]:
# 표현식
print(273)
print(10+20+30)

273
60

In [11]:
#표현식이 하나 이상 씩 모이면 문장
print("hello python")
print(52, 'hello python', 5+3)

hello python
52 hello python 8

In [12]:
# 문장이 모여서 프로그램
a=1;b=1;c=a+b
print(c)

2

In [16]:
# keyword
import keyword
print(keyword.kwlist,'\n')
print()
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


35

식별자 기본 규칙
 - 키워드를 사용하면 안된다.
 - 특수문자는 언더바만 사용한다.
 - 숫자로 시작하면 안된다.
 - 공백을 포함할 수 없다.

In [17]:
alpha
break # 키워드
alpha10
_alpha
273alpha
Alpha
ALPHA
has space

SyntaxError: invalid syntax (Temp/ipykernel_1916/365122581.py, line 5)

파이썬은 snake_case와 CamelCase를 모두 사용한다 

스네이크 케이스 뒤에 {}가 있다 - 함수 : {}가 없다 - 변수

In [18]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어
if 3 in [1,2,3,4]:
    print('3이 있습니다.')

3이 있습니다.

In [20]:
a = 1
b = 2
if a+b ==3:
    print('정답')

정답

In [23]:
#파이썬 자료형 - 숫자형 (정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177
f = 0xABC
g = 0b101010
print(a, b, c, d, e, f, g)

123 -123 0 1.23 127 2748 42

In [24]:
#사칙연산
a = 10
b = 2
c = a+b
d = a-b
e = a*b
f = a/b
g = a%b #나머지
h = a//b # 몫
i = a**b # 제곱
print(a,b,c,d,e,f,g,h,i)

10 2 12 8 20 5.0 0 5 100

In [25]:
# 다른 타입간 연산은 불가
string = '문자열'
number = 273
print(string+number)

TypeError: can only concatenate str (not "int") to str

In [27]:
a=10
a= '문자'
#a = 100
type(a)

str

In [28]:
#복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [31]:
num = 100
num /= 10
num

10.0

In [32]:
# 사용자 입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: hi

'hi'

In [34]:
num = input('숫자를 입력하세요: ')
print(num)
type(num)

숫자를 입력하세요: 10
10

str

In [35]:
num1 = input('숫자입력 :')
num2 = input('숫자입력 :')
print(num1+num2)

숫자입력 :123
숫자입력 :456
123456

In [36]:
num1 = input('숫자입력 :')
num1_n = int(num1)
num2 = input('숫자입력 :')
num2_n = int(num2)
print(num1_n+num2_n)

숫자입력 :123
숫자입력 :456
579

In [39]:
num1 = input('숫자입력 :')
num1_n = float(num1)
num2 = input('숫자입력 :')
num2_n = float(num2)
print(num1_n+num2_n)

숫자입력 :3
숫자입력 :3.3
6.3

In [40]:
a= 52
b = 52.273
a_s = str(a)
b_s = str(b)
print(a_s+b_s)

5252.273

In [41]:
# 문자열 : "", '', """ """, ''' '''
s1 = "python's value is great"
s2 = '"python us valuable"he says'
s3 = 'python\'s value is great'
print(s3)

python's value is great

In [42]:
y1 = "Once you study data analysis\nYou need python"
print(y1)
y2 = '''Once you study data analysis,
You need python'''

Once you study data analysis
You need python

In [43]:
string = '''"What a wonderful world!"\n he said loudly'''
print(string)

"What a wonderful world!"
 he said loudly

In [45]:
#문자열 연산
a1 = 'python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1*3)
print(a1+'3.8')
print('='*20)

python is easy to learn
pythonpythonpython
python3.8
====================

In [47]:
#자료형 - list
#list는 []로 표시하며 []안의 요소를 ,로 구분하여 순서대로 나열
list1 = [1,2,3,4,5]
print(list1)
list2 = ['a','b','c',list1]
print(list2)

[1, 2, 3, 4, 5]
['a', 'b', 'c', [1, 2, 3, 4, 5]]

In [52]:
#인덱싱
list1 = [1,2,3,4,5]
print(list1[:])
print(list2[2])
print(list2[3][1])
print(list2[3][4])

[1, 2, 3, 4, 5]
c
2
5

In [56]:
#list 수정,삭제
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
a[0] = 1
b[1] = 'a'
print(a)
print(b)

del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [57]:
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
c= a+b
print(c)
c[-1] = 1
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 1]

In [58]:
s = [5,7,1,2,9,4,3,8,6]
s.sort()
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
b = [2,4,3,1]
b.sort()
print(b)
#내림차순
b_d = sorted(b,reverse=True)
print(b_d)
b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [63]:
s = [1,1,2,3,4,5,6,7,8,9,2,1]
s.sort()
print(s)
s_d = sorted(s,reverse=True)
print(s_d)
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [65]:
#인덱스 변환
c = [1,2,3,1,5]
print(c.index(3))

2

In [61]:
import numpy as np
c = np.random.randint(100,size = 100).tolist()
print(c)

[54, 79, 11, 38, 93, 1, 95, 44, 88, 24, 67, 82, 3, 76, 35, 86, 61, 69, 87, 43, 32, 11, 84, 10, 54, 37, 28, 2, 27, 83, 89, 23, 53, 51, 46, 20, 53, 29, 67, 35, 39, 9, 73, 41, 23, 3, 46, 90, 50, 3, 31, 9, 10, 27, 45, 71, 39, 61, 85, 97, 44, 34, 34, 88, 33, 5, 36, 0, 75, 34, 69, 53, 80, 62, 8, 61, 1, 81, 35, 91, 40, 36, 48, 25, 67, 35, 30, 29, 33, 18, 17, 93, 84, 2, 69, 12, 44, 66, 91, 85]

In [70]:
# 개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(3))

3

In [77]:
#list 확장
h = [1,2,3]
h.extend([4,5])
print(h)
#추가
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.insert(len(h),7)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

In [78]:
#tuple
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

print(tuple1[:],tuple3[2],tuple3[3][4],tuple3[4][1])

(1, 2, 3, 4, 5) abc 5 b

In [79]:
#tuple의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야 되는 경우 사용
tuple1[0] = 6
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [80]:
t1 = (1,) #1개의 요소만을 가질 때에는 요소 뒤에 콤마를 붙어야 함
print(t1)
t2 = 1,2,3
print(t2)
print(t2*3)
t3 = t1+t2
print(t3)
t4 = (1,)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)

tuple

In [2]:
#자료형 - 사전 : 키와 값을 하나의 요소로 하는 순서가 없는 집합
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])
d1['b'] = 5
print(d1)
d1['c'] = [1,2,3,4,5]
print(d1)
print(d1['c'][3])

del d1['a']
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}
{'a': 1, 'b': 5, 'c': [1, 2, 3, 4, 5]}
4
{'b': 5, 'c': [1, 2, 3, 4, 5]}

In [85]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, [1, 2, 3, 4, 5]])
dict_items([('a', 1), ('b', 5), ('c', [1, 2, 3, 4, 5])])

In [87]:
d1 = {'x':1,'y':2,'z':3}
print(d1['x'])
d1['y'] = 71
print(d1)
d1['z'] = [1,2,3,4,5]
print(d1)
print(d1['z'][2])
print(d1.keys())
print(d1.values())
print(d1.items())

1
{'x': 1, 'y': 71, 'z': 3}
{'x': 1, 'y': 71, 'z': [1, 2, 3, 4, 5]}
3
dict_keys(['x', 'y', 'z'])
dict_values([1, 71, [1, 2, 3, 4, 5]])
dict_items([('x', 1), ('y', 71), ('z', [1, 2, 3, 4, 5])])

In [89]:
#자료형 - 집합,set (중복을 허용하지 않으며 순서가 없다)
s1 = set([1,2,4,0,3])
s2 = set('hello')
print(s1,s2)

{0, 1, 2, 3, 4} {'e', 'o', 'h', 'l'}

In [92]:
#집합은 인덱싱으로 값을 얻을 수 없다 필요시 리스트, 튜플로 변환
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

1
o

In [96]:
# 집합 연산 - 합집합 | , 교집합&
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(list(s1|s2))
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [102]:
list3 = [1,1,2,2,2,3,3,3,4,4,5]
print(list3)
print(type(list3))
print(list3.count(2))
tuple3 = tuple(list3)
print(tuple3)
print(tuple3.count(2))
set3 = set(list3)
print(set3)

[1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5]
<class 'list'>
3
(1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5)
3
{1, 2, 3, 4, 5}

In [103]:
#들여쓰기
list1 = ['a','b','c']
if 'a' in list1:
    print('a가 list1에 있습니다.')
else:
    print('a가 ;list1에 없습니다')

a가 list1에 있습니다.

In [106]:
# 문자열 포맷

name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다'

'나의 이름은 홍길동입니다. 나이는 30입니다'

In [109]:
dict1 = {'name':'홍길동','age':30}
f'나의 이름은 {dict1["name"]}입니다. 나이는 {dict1["age"]}입니다'

'나의 이름은 홍길동입니다. 나이는 30입니다'

In [111]:
y=3.14159
f'{y:0.2f}'

'3.14'

In [112]:
f'{y:10.2f}'

'      3.14'

In [117]:
#포맷 함수
f1 = "{} 선수가 {}등입니다".format('홍길동',1)
print(f1)
f2 = "%s 선수가 %d등입니다" %('홍길동',1)
print(f2)

홍길동 선수가 1등입니다
홍길동 선수가 1등입니다

In [119]:
f3 = "{}은 {}보다 {}배 쉽습니다".format('파이썬','자바',2)
print(f3)
f4 = "{2}은 {0}보다 {1}배 쉽습니다".format('자바',2,'파이썬')
print(f4)

파이썬은 자바보다 2배 쉽습니다
파이썬은 자바보다 2배 쉽습니다

In [145]:
# 과제

num = 123456789

num1 = int(num/(10**4))
print(num1)
num11 = f'{num1:10.0f}'
print(num11)

num2 = num/(10**7)
num22 = f'{num2:0.6f}'
print(num22)
num222 = f'{num2:16.3f}'
print(num222)

12345
     12345
12.345679
          12.346

In [149]:
#제어문 if-elif-else
i = 7000000
e = 3000000

if i>e:
    print('저축 증가')
elif i<e:
    print('빚 증가')
else:
    print('현상 유지')

저축 증가

In [150]:
# for 반복문
numbers = [5,15,6,20,7,25]
for number in numbers:
    print(number,end=' ')

5 15 6 20 7 25

In [153]:
print('몫=', 5//2)
print('나머지=',5%2)

몫= 2
나머지= 1

In [152]:
print(101**3)

1030301

In [162]:
s1 = 'Python'
s2 = '3.8.3'
print(s1+' '+s2)

b=5
b**=3
b%=3
print(b)

a=5
a='10'
a=15
type(a)

Python 3.8.3
2

int

In [163]:
input('당신의 이름은 무엇인가요? : ')

당신의 이름은 무엇인가요? : 이재우

'이재우'

In [167]:
a= input('첫번째 숫자: ')
int_a= int(a)
b= input('두번째 숫자: ')
int_b = int(b)
c= input('세번째 숫자: ')
int_c = int(c)
print(int_a**int_b//int_c)

첫번째 숫자: 3
두번째 숫자: 7
세번째 숫자: 9
243

In [170]:
# 1부터 5까지 입력해서 12345를 출력하시오
a= input('첫번째 숫자: ')
int_a= int(a)
b= input('두번째 숫자: ')
int_b = int(b)
c= input('세번째 숫자: ')
int_c = int(c)
d=input('네번째 숫자: ')
int_d=int(d)
e=input('다섯번째 숫자: ')
int_e = int(e)
num = int_a*(10**4)+int_b*(10**3)+int_c*(10**2)+int_d*10+int_e
print(num)

첫번째 숫자: 1
두번째 숫자: 2
세번째 숫자: 3
네번째 숫자: 4
다섯번째 숫자: 5
12345

In [171]:
list1 = [0,1,2,3,4,5,6,7,8,9,'a','b','c']
del list1[10]
del list1[-3]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [176]:
#for continue break
#1~ 10 범위의 정수에서 1부터 5까지만 출력하세요
for i in range(1,11):
    print(i,end=' ')
    if i<5:
        continue
    else:
        break

1 2 3 4 5

In [179]:
for a in range(1,100):
    if 100%a == 0:
        print(a)
    else:
        a+=1
        continue

1
2
4
5
10
20
25
50

In [183]:
#number 리스트에서 15, 20, 25를 출력하세요(for,if문 사용)
numbers=[5,15,6,20,7,25]
for number in numbers:
    if number > 10:
        print(number,end = ' ')
    else:
        continue

15 20 25

In [184]:
# while문
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과의 합을 구하시오
x = 1
sum = 0
while 1:
    sum = sum+x
    if sum > 1000:
        print(x)
        print(sum)
        break
    else:
        x+=1

45
1035

In [2]:
# while 문을 사용해 1부터 1000까지 정수 중에서 3의 배수의 합을 구해보자

x=1
sum = 0

while 1:
    if x > 1000:
        print(sum)
        break
    else:
        if x%3 == 0:
            sum = sum +x
        x+=1

166833

In [3]:
# [과제] 1부터 100까지의 정수 중 5에서 95까지의 합을 구하세요.
sum = 0

for a in range(5,95):
    sum = sum + a
print(sum)

4455

In [20]:
# 과제 커피 자판기 프로그램
# 시나리오 : 자판기 커피 재고 5잔, 커피 한잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
# 각 Case별 멘트 출력은 상황에 맞게 창작
# while, if ~ elif ~ else 제어문을 사용하여 작성

myMoney = int(input('돈을 얼마나 넣어볼까요?: '))

remainCoffee = 5
coffeeCost = 300

while 1:
    if remainCoffee == 0:
        print('커피 없어요. 일주일 뒤에 와요')
        break
    elif myMoney < 300:
        print('돈이 부족하네요. 나중에 다시 와요')
        print('거스름돈 %d원 받아가요'%(myMoney))
        break

    else:
        myMoney -= 300
        remainCoffee -= 1
        print('커피 한잔 순삭')
        if myMoney < 300:
            print('거스름돈 %d원 받아가요'%(myMoney))
            break
        else:
            continue

돈을 얼마나 넣어볼까요?: 1800
커피 한잔 순삭
커피 한잔 순삭
커피 한잔 순삭
커피 한잔 순삭
커피 한잔 순삭
커피 없어요. 일주일 뒤에 와요

In [5]:
x= lambda a,b:a**b
print(x(5,2))

25

In [ ]:
import numpy as np
coffee = 5
print('welcome to coffecoin')
print(f'남은 커피 {coffee}잔')
print('')

while 1:
    price = 300
    var = np.random.randint(100,size = 1).tolist()
    price = price + var[0]
    print(f'현재 커피값 : {price}원')
    money = int(input("커피 팔아요 현금 넣어요: "))
    print('')
    if money == price:
        print('커피를 마신다')
        coffee -= 1
        print(f'남은 커피 {coffee}잔')
        print('')
    elif money > price:
        c = money - price
        print(f'커피 마시고 잔돈 {c}원 받아가요')
        coffee -= 1
        print(f'남은 커피 {coffee}잔')
        print('')
    else:
        print(f'커피는 {price}원입니다 현금 다시 넣어요')
        print(f'남은 커피 {coffee}잔')
        print('')
    
    if coffee == 0:
        print('완판')
        break

In [29]:
ord('a')

97

In [30]:
chr(65)

'A'

In [31]:
chr(1)

'\x01'

In [32]:
chr(37)

'%'

In [41]:
#2와 5를 더한 후 3으로 나눈 나머지 값을 사용자 함수를 이용해 구한다
def cal_abc(a,b,c):
    return (a+b)%c

cal_abc(2,5,3)

1

In [44]:
#문자열 앞의 공백을 제거하고 아래와 같이 출력 : strip()

input_a = """
                       It is true
'Python is fit for data analysis'
"""
print(input_a.strip())

It is true
'Python is fit for data analysis'

In [49]:
# "10/20/30/40/50"을 '/'를 기준으로 컷 : split()
a = "10/20/30/40/50"
b = "10,20,30,40,50"
print(a.split("/"))
print(b.split(","))

['10', '20', '30', '40', '50']
['10', '20', '30', '40', '50']

In [51]:
# 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈을 출력하고 그 외는 다시 입력하라는 메시지를 출력하세요

while 1:
    first = int(input('첫번째 수를 입력하세요: '))
    second = int(input('두번째 수를 입력하세요: '))
    if first%2 ==0 and second%2 == 0:
        print(first*second)
        break
    elif first%2 != 0 and second%2 != 0:
        print(first+second)
        break
    else:
        print('다시 입력하세요')

첫번째 수를 입력하세요: 1
두번째 수를 입력하세요: 1
2

In [58]:
import numpy as np
np.random.seed(0)
num = np.random.randint(20,size = 10)
print(num)

[12 15  0  3  3  7  9 19 18  4]

In [62]:
text = input('문장을 입력하세요> ')
ret =''
for i in range(len(text)):
    if i != len(text)-1:
        ret += text[i+1]
    else:
        ret += text[0]
print(ret)

문장을 입력하세요> 안녕하세요
녕하세요안