## 프로젝트 기반 AI 빅데이터 서비스 솔루션 개발 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 22.01.07
- 성명 :  이재우
- 점수 :  93

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [1]:
numbers =  [5, 15, 6, 20, 7, 25]
newnum = []

for i in numbers:
    if i > 10:
        newnum.append(i)
        
print(newnum)

[15, 20, 25]

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [100]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]
newlist1 = []
newlist2 = []

for a in list_input_a:
    newlist1.append(power(a))
print(newlist1)
newlist2 = list(filter(lambda a:under_3(a),list_input_a))
print(newlist2)

[1, 4, 9, 16, 25]
[1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [166]:
while 1:
    try:
        num = int(input("정수를 입력하세요> "))
        if num%2 ==0:
            print("해당 정수는 짝수입니다")
        else:
            print("해당 정수는 홀수입니다")
            break
    except:
        print("정수가 입력되지 않았습니다. 다시 입력해주세요")
        continue

정수를 입력하세요> 9
해당 정수는 홀수입니다

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [4]:
a=2 
b=5

result = (lambda a,b: (a**b)-(a*b))(a,b)
print(result)

a=5
b=2

result = (lambda a,b: (a**b)-(a*b))(a,b)
print(result)

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

In [126]:
while 1:
    try:
        num = int(input('숫자를 입력하세요...> '))
        numlist = []
        while num > 0:

            num , remain = divmod(num,1000)
            
            numlist.append(remain)
            
        
        for a in range(len(numlist)//2):
            tmp = numlist[a]
            numlist[a] = numlist[len(numlist)-a-1]
            numlist[len(numlist)-a-1] = tmp
        
        for b in range(len(numlist)):
            numlist[b] = str(numlist[b])
        
        newnum = ",".join(numlist)
        
        print(newnum)
        break
    except:
        print('올바르지 않은 입력입니다. 다시 입력하세요')
        break

숫자를 입력하세요...> 123456789
123,456,789

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [12]:
example_list = ["요소A", "요소B", "요소C"]

for i in range(len(example_list)):
    print(f'{i}번째 요소는 {example_list[i]}입니다.')

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [14]:
print(divmod(97,40))

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [162]:
list_number = [52, 273, 32, 72, 100]

while 1:
    try:
        index = int(input('정수 입력> '))
        print(f'{index}번째 요소: {list_number[index]}', end = ' ')
        
    except ValueError:
        print('정수를 입력해 주세요!', end = ' ')
    except IndexError:
        print('리스트의 인덱스를 벗어났어요!', end = ' ')
#    except e:
    except Exception as e
        print(e)
    finally:
        print('예외 처리 완료')
        break

정수 입력> 4
4번째 요소: 100 예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [23]:
while 1:
    try:
        num1 = int(input('첫번째 숫자를 입력하세요> '))
        num2 = int(input('두번째 숫자를 입력하세요> '))
        
        if num1>num2:
            print(f'둘중 가장 큰 숫자는 {num1}입니다')
        else:
            print(f'둘중 가장 큰 숫자는 {num2}입니다')
        break
        
    except:
        print('올바르지 않은 입력입니다. 숫자를 입력하세요')
        continue

첫번째 숫자를 입력하세요> 5
두번째 숫자를 입력하세요> 6
둘중 가장 큰 숫자는 6입니다

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [24]:
maxValue = 0

for i in range(1,100):
    if i*(100-i) > maxValue:
        maxValue = i*(100-i)
        
print(maxValue)

2500

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [168]:
import re

text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

pattern = re.compile('[0-9]+')
m = pattern.search(text)
print(m.group())

032

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [40]:
import re

p = re.compile('(a(b(c(d(e)f)g)h)i)(j)')

m = p.search('abcdefghij')
print(m.group(1))
print(m.group(5))

abcdefghi
e

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [41]:
list1 = [0,1,2,3,4,5,6,7,8,9,'a','b','c']

del list1[9]
del list1[-3]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [46]:
sum = 0
for x in range(500,1001):
    if x%5 ==0 and x%7 == 0:
        sum += x
        
print(sum)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[     ].append(number)
print(output)

In [127]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[(number-1)%3].append(number)
print(output)

#답 :(number-1)%3

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [51]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
newnum = set(numbers)
numcount = {}
for a in newnum:
    numcount[a] = str(numbers.count(a))+'회'
    
print(numcount)

{2: '2회', 3: '4회', 4: '2회', 5: '2회', 6: '2회', 7: '2회', 8: '2회', 9: '2회'}

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [26]:
class Country:
  


class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

In [164]:
#답
class Country:
    def __init__(self,country,pop,city):
        self.country = country
        self.pop = pop
        self.city = city
    
    def desc(self):
        print(f'{self.country}의 인구는 {self.pop}천만명이며 수도는 {self.city}입니다.')
    


class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [165]:
class Cal4:
        
    def add(self,x,y):
        return x+y
    def sub(self,x,y):
        return x-y
    def mul(self,x,y):
        return x*y
    def div(self,x,y):
        try:
            return x/y
        except e:
            print(e)
            
obj = Cal4()
result = [obj.add(10,5),obj.sub(10,5),obj.mul(10,5),obj.div(10,5)]

print(f'10+5 = {result[0]}, 10-5 = {result[1]}, 10*5 = {result[2]},10/5 = {result[3]}')

10+5 = 15, 10-5 = 5, 10*5 = 50,10/5 = 2.0

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

In [3]:
import time
t = time.localtime()
print(t)

time.struct_time(tm_year=2022, tm_mon=1, tm_mday=7, tm_hour=16, tm_min=34, tm_sec=21, tm_wday=4, tm_yday=7, tm_isdst=0)

#### 20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')

In [161]:
f = open('data/names/yob2015.txt','r')
data = f.read()
data = data.split()
for i in range(len(data)):
    data[i] = data[i].split(',')

Fnames = []

for a in data:
    if a[1] == 'F':
        Fnames.append(a)
        
Fnames = sorted(Fnames,key = lambda a:int(a[2]),reverse = True)

for i in range(5):
    print(f'Top_{i+1} 여아 이름 : {Fnames[i][0]}, 출생아 수 = {Fnames[i][2]}')

Top_1 여아 이름 : Emma, 출생아 수 = 20463
Top_2 여아 이름 : Olivia, 출생아 수 = 19705
Top_3 여아 이름 : Sophia, 출생아 수 = 17430
Top_4 여아 이름 : Ava, 출생아 수 = 16383
Top_5 여아 이름 : Isabella, 출생아 수 = 15633